{% extends "nadb/base_nadb.html" %}
    
{% block title %}Blog entries{% endblock %}

{% block content_title %}Blog entries{% endblock %}

{% block content %}
    {% for post in object_list %}
    <section>
        <h2><a href="{{ post.get_absolute_url }}" title="View this post">{{ post.title }}</a></h2>
        <p class="date">{{ post.published|date:"F d, Y" }}</p>
        <p>{{ post.body }}</p>
    </section>
    {% endfor %}

    {% if is_paginated %}
    <footer>
        <p>
            {% if has_next %}
            <a class="older" href="?page={{ next }}" title="View older posts">Older</a>
            {% endif %}
            {% if has_next and has_previous %} | {% endif %}
            {% if has_previous %}
            <a class="newer" href="?page={{ previous }}" title="View newer posts">Newer</a>
            {% endif %}
        </p>
    </footer>
    {% endif %}
{% endblock %}